
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Editing <%= singular_table_name.titleize %>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <%% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-check"></i> Success!</h4>
          <%%= flash[:notice] %>
        </div>
        <%% end %>

        <%% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-ban"></i> Alert!</h4>
          <%%= flash[:alert] %>
        </div>
        <%% end %>

        <div class="box">
          <div class="box-header">
            <h3 class="box-title"></h3>
          </div>

          <!-- /.box-header -->
          <%%= render 'form' %>
        </div>

        <%%= link_to 'Show', @<%= singular_table_name %> %> |
        <%%= link_to 'Back', <%= index_helper %>_path %>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

</div>
<!-- /.content-wrapper -->
